# =============================================================================
# ELECTRO-HOBBY-3D-UPDATER - Environment variable template
# Copyright (C) 2026 JuanenRac (Electro Hobby 3D) <electrohobby3d@gmail.com>
# GPL-3.0-or-later - see LICENSE
# This tool does not auto-load .env: export the token through the
# invoking shell. Every dispatched subprocess inherits this process's own
# environment, so a GITHUB_TOKEN set here reaches whichever sub-updater
# runs (each of the three real ecosystems is public, so this is only ever
# useful to raise the 60/hour unauthenticated ceiling). Never put a real
# token in this example or commit a local .env file.
# =============================================================================

GITHUB_TOKEN=
